{% extends "base.html" %}
{% block title %}
Verify OTP
{% endblock  %}
{% block content %}
<div class="max-w-md mx-auto text-center bg-white px-4 sm:px-8 py-10 rounded-xl shadow mt-5">
    <header class="mb-8">
        <h1 class="text-2xl font-bold mb-1">Email Address Verification</h1>
        <p class="text-[15px] text-slate-500">Enter the 4-digit verification code that was sent to your email ID.</p>
    </header>
    <form id="otp-form" href="#" method="post">
        <div class="flex items-center justify-center gap-3">
            <input
                type="text"
                id= "otp1"
                class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-2 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
                pattern="[0-9]*"  oninput="this.value = this.value.replace(/[^0-9]/g, ''); if(this.value.length === this.maxLength) document.getElementById('otp2').focus();" maxlength="1" name="otp1" autofocus="true"/>
            <input
                type="text"
                id= "otp2"
                class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-2 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
                maxlength="1" name="otp2" oninput="this.value = this.value.replace(/[^0-9]/g, ''); if(this.value.length === this.maxLength) document.getElementById('otp3').focus();"/>
            <input
                type="text"
                id= "otp3"
                class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-2 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
                maxlength="1" name="otp3" oninput="this.value = this.value.replace(/[^0-9]/g, ''); if(this.value.length === this.maxLength) document.getElementById('otp4').focus();" />
            <input
                type="text"
                id= "otp4"
                class="w-14 h-14 text-center text-2xl font-extrabold text-slate-900 bg-slate-100 border border-transparent hover:border-slate-200 appearance-none rounded p-2 outline-none focus:bg-white focus:border-indigo-400 focus:ring-2 focus:ring-indigo-100"
                maxlength="1" name="otp4" oninput="this.value = this.value.replace(/[^0-9]/g, '')" autofocus="true"/>
        </div>
        <div class="max-w-[260px] mx-auto mt-4">
            <button type="submit"
                class="w-full inline-flex justify-center whitespace-nowrap rounded-lg bg-indigo-500 px-3.5 py-2.5 text-sm font-medium text-white shadow-sm shadow-indigo-950/10 hover:bg-indigo-600 focus:outline-none focus:ring focus:ring-indigo-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 transition-colors duration-150">Verify
                Account</button>
        </div>
    </form>
    <div class="text-sm text-slate-500 mt-4">Didn't receive code? <a class="font-medium text-indigo-500 hover:text-indigo-600" href="#0">Resend</a></div>
</div>
{% endblock  %}